<div class="product-container">
  <diV><p>Entry door</p></diV>
  <div class="img-container"><img src="{{product.doorImage}}"></div>
  <div><h2>Height: {{product.height}}</h2></div>
  <div><h3>Width: {{product.width}}</h3></div>
  <div> <h4>Price: {{product.price}} euro</h4></div>
  <div><h5>Product color: {{product.color}}</h5></div>


</div>
