
<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onClick()">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Username" formControlName="username">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>


      <div class="button">
        <button type="submit" mat-button>Login</button>
      </div>

      <a (click)="goToRegister()" style="color: #5f89a0;">You don't have an account? Press on register</a>

    </form>
  </mat-card-content>
</mat-card>

