<p>
  <mat-toolbar>
    <span fxFlex="10">Quotation number: {{this.id}}</span>
    <span fxFlex="35"></span>
    <span fxFlex="10">Total Price: {{this.totalPriceQuotation}}</span>
    <span fxFlex="35"></span>
    <mat-icon matBadge="{{this.productsNumberOfQuotation}}"
              matBadgeColor="warn"
              (click)="goToShoppingCart()"
    >shopping_cart</mat-icon>
  </mat-toolbar>
</p>
<div>
  <button mat-button (click)="seeWindow()">Add window</button>

  <button mat-button (click)="seeDoor()">Add door</button>

  <button mat-button (click)="seeSlidingSystem()">Add sliding system</button>
</div>
<div>
  <app-product *ngIf="seeWindowForm"
               [quotationId]="id"
               [productType]="window"
               [addProductType]="addWindow"
               (numberOfProductsEvent)="productsNumberOfQuotation = $event"
               (closeProductEvent)="seeWindowForm = $event"
               (totalPriceEvent)="totalPriceQuotation = $event"
  ></app-product>
  <app-product *ngIf="seeDoorForm"
               [quotationId]="id"
               [productType]="door"
               [addProductType]="addDoor"
               (numberOfProductsEvent)="productsNumberOfQuotation = $event"
               (closeProductEvent)="seeDoorForm = $event"
               (totalPriceEvent)="totalPriceQuotation = $event"
  ></app-product>
  <app-product *ngIf="seeSlidingSystemForm"
               [quotationId]="id"
               [productType]="slidingSystem"
               [addProductType]="addSlidingSystem"
               (numberOfProductsEvent)="productsNumberOfQuotation = $event"
               (closeProductEvent)="seeSlidingSystemForm = $event"
               (totalPriceEvent)="totalPriceQuotation = $event"
  ></app-product>
</div>
