table {
  width: 200px;
  padding-left: 100px;
}
.mat-column-id {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}
.mat-column-totalPrice {
  padding-left: 30px;
  font-size: 20px;
  text-align: center;
  width: 60px;
}
.mat-column-operations {
  padding-left: 30px;
  font-size: 20px;
  text-align: center;
  width: 60px;
}
.mat-column-userName {
  padding-left: 30px;
  font-size: 20px;
  text-align: center;
  width: 60px;
}
