<div class=" mat-elevation-z8">
  <mat-table  [dataSource]="dataSource" >

    <ng-container matColumnDef="id"  >
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="totalPrice" >
      <th mat-header-cell *matHeaderCellDef> Total Price </th>
      <td mat-cell *matCellDef="let element"> {{element.totalPrice}} </td>
    </ng-container>
    <ng-container matColumnDef="userName" class="text-align">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
    </ng-container>



    <ng-container matColumnDef="operations" >
      <th mat-header-cell *matHeaderCellDef> Delete Item </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [ngStyle]="{'color':'red'}"> <mat-icon  (click)="delete(element.id)">delete_forever</mat-icon> </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>
</div>

