<div class="example-container mat-elevation-z8">
<mat-table  [dataSource]="dataSource" >

  <ng-container matColumnDef="id" >
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="productType" >
    <th mat-header-cell *matHeaderCellDef> Product Type </th>
    <td mat-cell *matCellDef="let element"> {{element.productType}} </td>
  </ng-container>
  <ng-container matColumnDef="width" >
    <th mat-header-cell *matHeaderCellDef> Width </th>
    <td mat-cell *matCellDef="let element"> {{element.width}} </td>
  </ng-container>

  <ng-container matColumnDef="height" >
    <th mat-header-cell *matHeaderCellDef> Height </th>
    <td mat-cell *matCellDef="let element"> {{element.height}} </td>
  </ng-container>

  <ng-container matColumnDef="color" >
    <th mat-header-cell *matHeaderCellDef> Color </th>
    <td mat-cell *matCellDef="let element"> {{element.color}} </td>
  </ng-container>

  <ng-container matColumnDef="price" >
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <ng-container matColumnDef="operations" class="text-align">
    <th mat-header-cell *matHeaderCellDef> Delete Item </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [ngStyle]="{'color':'red'}"> <mat-icon  (click)="delete(element.id)">delete_forever</mat-icon> </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>
</div>

