table {
  width: 75%;
}
.mat-column-id {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}
.mat-column-productType {
  padding-left: 30px;
  font-size: 20px;
  text-align: center;
  width: 60px;
}
.mat-column-operations {
  padding-left: 30px;
  font-size: 20px;
  text-align: center;
  width: 60px;
}
.mat-column-width {
  padding-left: 30px;
  font-size: 20px;
  text-align: center;
  width: 60px;
}

.mat-column-height {
  padding-left: 30px;
  font-size: 20px;
  text-align: center;
  width: 60px;
}

.mat-column-price {
  padding-left: 30px;
  font-size: 20px;
  text-align: center;
  width: 60px;
}

.mat-column-color {
  padding-left: 30px;
  font-size: 20px;
  text-align: center;
  width: 60px;
}
