<div class="mat-elevation-z8" style="height: 25rem; margin: 3rem;
background-image: url(https://qfortro.mncdn.com/wp-content/uploads/2022/02/ferestre-pvc.jpg);">
<div style="margin: auto">
  <div >
  <p>
    <mat-toolbar>
      <span>{{this.addProductType}}</span>
    </mat-toolbar>
  </p>

</div>

<mat-form-field  appearance="fill" style="margin-left: 10rem">
  <mat-label style="font-weight: bold; color: black">Width</mat-label>
  <input [formControl]="width" (ngModelChange)="checkIfCompleteMessageIsTrueAndTheFormsAreCompletedMakeItFalse()" matInput>
</mat-form-field>
<mat-form-field appearance="fill" style="margin-left: 10rem">
  <mat-label style="font-weight: bold; color: black">Height</mat-label>
  <input [formControl]="height" (ngModelChange)="checkIfCompleteMessageIsTrueAndTheFormsAreCompletedMakeItFalse()" matInput>
</mat-form-field>
<mat-form-field  appearance="fill" style="margin-left: 10rem">
  <mat-label style="font-weight: bold; color: black">Color</mat-label>
  <mat-select [formControl]="color" (ngModelChange)="checkIfCompleteMessageIsTrueAndTheFormsAreCompletedMakeItFalse()">
    <mat-option value="GOLDEN_OAK">Golden Oak</mat-option>
    <mat-option value="WALNUT">Walnut</mat-option>
    <mat-option value="IVORY">Ivory</mat-option>
    <mat-option value="MEDIUM_OAK">"Medium Oak"</mat-option>
  </mat-select>
</mat-form-field>

<p *ngIf="completeFormsMessage" style="color: red; margin-left: 10rem;margin-top: 2rem;">* The fields with star are required</p>

<button  (click)="saveProduct()" mat-button style="display: flex; style:bold; color:black; margin-left: 10rem;margin-top: 7rem">Add to cart</button>
</div>
</div>
