<!DOCTYPE html>

<html lang="en">
<head>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}

  </style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-dark green w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-green">Home</a>
    <a (click)="goToQuotations()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover">My Quotations</a>
    <a (click)="goToDoors()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover">Doors</a>
    <a (click)="goToWindows()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover">Windows</a>
    <a (click)="goToSlidingSystems()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover">Sliding Systems</a>
    <a (click)="this.createQuotation()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover">Create Quotation</a>
    <a (click)="goToRating()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover">Rating</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
    (click)="logout()">Log-out</a>
  </div>

<!--  &lt;!&ndash; Navbar on small screens &ndash;&gt;-->
<!--  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">-->
<!--    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>-->
<!--    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>-->
<!--    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>-->

<!--  </div>-->
</div>

<!-- Header -->
<header >
    <meta name="viewport" content="width=device-width, initial-scale=10">
    <style>
      body, html {
        height: flex%;
        margin: 0;
      }
      .bg {
        background-image: url("https://tamplarie-pitesti.ro/wp-content/uploads/2017/10/stire-1.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    </style>
</header>






<!--<script>-->
<!--  // Used to toggle the menu on small screens when clicking on the menu button-->
<!--  function myFunction() {-->
<!--    var x = document.getElementById("navDemo");-->
<!--    if (x.className.indexOf("w3-show") == -1) {-->
<!--      x.className += " w3-show";-->
<!--    } else {-->
<!--      x.className = x.className.replace(" w3-show", "");-->
<!--    }-->
<!--  }-->
<!--</script>-->

</body>

  <div class="bg"></div>


</html>
